{% load static %}
{% with title="Downloads" %}
    {% include "header.html" %}
{% endwith %}

    <div class="paragraph">
        <div class="warning">
            This link is from an older version of eQuilibrator. Please search
            again for your compound <a href="/">here</a>.
        </div>

{% include "footer.html" %}
