{% load static %}
{% with hidesearchbar=0 title=compound.first_name %}
	{% include "header.html" %}
{% endwith %}

    {% if reaction.special_reaction_warning %}
        <div class="warning">
            {{ reaction.special_reaction_warning|safe}}
        </div>
    {% endif %}

    <div class="parsedRxn">
        {{ compound.first_name }}
    </div>

    <form name="compoundForm" action="/metabolite" method="get">
        <input type="hidden" name="compoundId" value="{{ compound.eqapi_id }}" />

        {% if reaction.dg_prime == "<unknown>" %}
            <div class="warning">
                Cannot estimate &Delta;<sub><i>f</i></sub>G'&deg; because {{ reaction.no_dg_explanation|safe }} </br>
                <a href={% static "classic_rxns/faq.html" %}#not-available>Learn more &raquo;</a>
            </div>
        {% else %}
            {% include "compound_result_table.html" %}

            {% include "concentration_sub_table.html" %}
                <input type="submit" value="Update" name="submit"
                       onclick="form.target = '_self';" class="mui-btn mui-btn--primary"
                       title="update estimations according to chosen pH, I" />
                <a href="{{ compound.link }}" class="mui-btn mui-btn--primary">Reset</a>
        {% endif %}

    </form>

    {% include "compound_info_table.html" %}

{% include "footer.html" %}
