{% load static %}
<div class="mui-panel">
<div class="title">General Properties</div>
<table class="mui-table">
	<tr>
		<td width="25%"><b>Formula</b></td>
		<td colspan="100%">{{ compound.html_formula|safe }}</td>
	</tr>
	<tr>
		<td width="25%"><b>Synonyms</b></td>
		<td colspan="100%">
			{% for name in compound.all_common_names %}
			{{ name }}{% if not forloop.last %}; {% endif %}
			{% endfor %}
		</td>
	</tr>
	<tr>
		<td><b>Molar Mass</b></td>
		<td colspan="100%">{{ compound.mass|floatformat:2 }} [Da]</td>
	</tr>
	<tr>
        <td width="25%"><b>Structure</b></td>
        <td colspan="100%">{{ compound.thumbnail|safe }}</td>
	</tr>
	{% if compound.note %}
		<td width="25%"><b>Note</b></td>
		<td colspan="100%">{{compound.note}}
		{% if compound.details_link %}
		<a href="{{compound.details_link}}">More info &raquo;</a>
		{% endif %}
		</td>
    {% endif %}
</table>
</div>

