{% load static %}
<div id="showConc" style={% if reaction.is_physiological %}"display:block"{% else %}"display:none"{% endif %}>
<p>
    <a href="#" title="Open concentration panel" onclick="toggle_visibility('hideConc');toggle_visibility('showConc');">
        {% if reaction.is_half_reaction %}
        <img src={% static "images/red_open.svg" %} height="32" width="32"/></a>
    {% else %}
    <img src={% static "images/conc_open.svg" %} height="32" width="32"/></a>
    {% endif %}
</p>
</div>
<div id="hideConc" style={% if reaction.is_physiological %}"display:none"{% else %}"display:block"{% endif %}>
<p>
    <a href="#" title="Close concentration panel" onclick="toggle_visibility('showConc');toggle_visibility('hideConc');">
        {% if reaction.is_half_reaction %}
        <img src={% static "images/red_open.svg" %} height="32" width="32"/></a>
    {% else %}
    <img src={% static "images/conc_open.svg" %} height="32" width="32"/></a>
    {% endif %}
</p>

<div class="mui-panel">
    <div class="title">Reactant Abundances</div>
    <table class="mui-table">
        {% for rdata in reactant_data %}
        <input type="hidden" name="reactantsCoeff" value="{{ rdata.coeff }}" />
        <input type="hidden" name="reactantsId" value="{{ rdata.compound_id }}" />
        <input type="hidden" name="reactantsName" value="{{ rdata.name }}" />
        <tr>
            <td colspan="2">
                {{ rdata.name }}
            </td>
            <td>
                {% if rdata.phase == "liquid" %}
                    <input type="hidden" value="None" name="reactantsAbundance" />
                    <input type="hidden" value="None" name="reactantsAbundanceUnit" />
                {% endif %}
                {% if rdata.phase == "solid" %}
                    <input type="hidden" value="None" name="reactantsAbundance" />
                    <input type="hidden" value="None" name="reactantsAbundanceUnit" />
                {% endif %}
                {% if rdata.phase == "aqueous" %}
                    <input type="number" size="10" value="{{ rdata.abundance|floatformat:3 }}"
                           name="reactantsAbundance" min="0.001" max="9999999" step="0.001"
                    />
                    <select name="reactantsAbundanceUnit">
                        <option value="molar" {% if rdata.abundance_unit == "molar" %}selected{% endif %}>M</option>
                        <option value="millimolar" {% if rdata.abundance_unit == "millimolar" %}selected{% endif %}>mM</option>
                        <option value="micromolar" {% if rdata.abundance_unit == "micromolar" %}selected{% endif %}>μM</option>
                        <option value="nanomolar" {% if rdata.abundance_unit == "nanomolar" %}selected{% endif %}>nM</option>
                    </select>
                {% endif %}
                {% if rdata.phase == "gas" %}
                    <input type="number" size="10" value="{{ rdata.abundance|floatformat:3 }}"
                           name="reactantsAbundance" min="0.001" max="9999999" step="0.001"
                    />
                    <select name="reactantsAbundanceUnit">
                        <option value="bar" {% if rdata.abundance_unit == "bar" %}selected{% endif %}>bar</option>
                        <option value="millibar" {% if rdata.abundance_unit == "millibar" %}selected{% endif %}>mbar</option>
                        <option value="microbar" {% if rdata.abundance_unit == "microbar" %}selected{% endif %}>μbar</option>
                        <option value="nanobar" {% if rdata.abundance_unit == "nanobar" %}selected{% endif %}>nbar</option>
                    </select>
                {% endif %}
            </td>
            <td width="50px">
                <select name="reactantsPhase">
                    {% for phase in rdata.possible_phases %}
                        {% if phase == rdata.phase %}
                            <option value="{{ phase }}" selected>{{ phase }}</option>
                        {% else %}
                            <option value="{{ phase }}" >{{ phase }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
