{% load static %}
{% with title="compound.first_name" %}
     {% include "header.html" %}
{% endwith %}

    <div class="mui-panel">
        <form name="pathway_form" action="/pathway/build_model" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <input type="hidden" name="conc_units" value="mM" />
            <p class="warning">
                for analyzing large pathways (> 10 reactions) or running multiple analyses in batch mode, please use the offline
                <a href="https://equilibrator.readthedocs.io/en/latest/index.html">equilibrator-API</a>
            </p>
            <div class="title">Step 1: Build <a href="http://www.sbtab.net">SBtab</a> Pathway Model</div>
            <div class="paragraph">
            <table>
                <tr>
                    <td colspan="3">Click <a href={% static "classic_rxns/pathway.html" %}>here</a> for an overview of the process. Skip this step if you already have an SBtab model file.</td>
                </tr>
                <tr>
                    <td width="40%">
                        Pathway definition file
                        (<a href="{% static "pathways/example_fermentation.tsv" %}">example</a>)
                    </td>
                    <td colspan=2><input type="file" name="pathway_file" /></td>
                </tr>
                <tr>
                    <td>
                        Min concentration<sup>&dagger;</sup>
                    </td>
                    <td width="30%">
                        <input type="number" name="default_lb_value" value="1" min="0" max="999999" step="0.001" />
                    </td>
                    <td>
                        <select name="default_lb_unit" id="default_lb_unit">
                            <option value="molar">M</option>
                            <option value="millimolar">mM</option>
                            <option value="micromolar" selected>μM</option>
                            <option value="nanomolar">nM</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Max concentration<sup>&dagger;</sup>
                    </td>
                    <td width="30%">
                        <input type="number" name="default_ub_value" value="10" min="0" max="999999" step="0.001" />
                    </td>
                    <td colspan="100%">
                        <select name="default_ub_unit" id="default_ub_unit">
                            <option value="molar">M</option>
                            <option value="millimolar" selected>mM</option>
                            <option value="micromolar">μM</option>
                            <option value="nanomolar">nM</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        pH
                    </td>
                    <td width="30%">
                        <input type="number" name="p_h" id="phField" min="0" max="14" step="0.1" value="{{ aq_params.p_h|floatformat:1 }}" />
                    </td>
                    <td colspan="100%" class="sliderContainer">
                        <div id="phSlider"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        pMg
                    </td>
                    <td width="30%">
                        <input type="number" name="p_mg" id="pmgField" min="0" max="6" step="0.1" value="{{ aq_params.p_mg|floatformat:1 }}" />
                    </td>
                    <td colspan="100%" class="sliderContainer">
                        <div id="pmgSlider"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Ionic strength
                    </td>
                    <td width="30%">
                        <input type="number" name="ionic_strength" id="ionStrengthField" min="0" max="1" step="0.01" value="{{ aq_params.ionic_strength_in_molar|floatformat:2 }}" /> M
                    </td>
                    <td colspan="100%" class="sliderContainer">
                        <div id="ionStrengthSlider"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Analysis method
                    </td>
                    <td colspan="2">
                        <input type="radio" id="mdf" name="mdf_ecm_toggle" value="MDF" checked="checked"/>
                        <a href={% static "classic_rxns/pathway.html" %}#mdf title="Max-min Driving Force" target="_blank">MDF</a>
                        &nbsp;&nbsp;&nbsp;
                        <input type="radio" id="ecm" name="mdf_ecm_toggle" value="ECM"/>
                        <a href={% static "classic_rxns/pathway.html" %}#ecm title="Enzyme Cost Minimization" target="_blank">ECM</a>
                    </td>
                </tr>
                <tr>
                  <td></td>
                    <td colspan="3" align="left">
                        <input type="submit" class="mui-btn mui-btn--primary" value="Build"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" align="center">
                        (note that this might take a few minutes...)
                    </td>
                </tr>
            </table>
            <div class="footnote">
                <sup>&dagger;</sup>The default concentration range of 1 &mu;M - 10 mM reflects the fact that metabolite concentrations are constrained from above by osmotic pressure and toxicity considerations and from below
                by enzyme affinities.
            </div>
            <div class="footnote">
                <sup>&dagger;</sup>Default concentrations for ubiquitous cofactors like CoA and ATP are set
                based on measurements from <i>E. coli</i> and other model organisms (see <a href="https://doi.org/10.1371/journal.pcbi.1003483">Noor et al., PloS Comp. Bio 2014</a>).
                You can edit these defaults by modifying the SBtab file (e.g. in Excel) before performing
                the analysis below.
            </div>
            </div>
        </form>
        <br />
        <div class="title">Step 2: Verify & Edit Pathway Model</div>
        <div class="paragraph">
        <ol>
            <li>Check relative fluxes for all reactions in the SBtab file.</li>
            <li>Check all the metabolite IDs in the model.</li>
            <li>Check and/or edit bounds on metabolite concentrations.</li>
            <li>Optional: run <a href="https://www.parameterbalancing.net/">Parameter Balancing</a>
                to generate SBtab files with complete and consistent parameter 
                sets from (user-provided) kinetic parameter data
            <li>If using ECM, change the default kinetic parameters to the relevant values.</li>
        </ol>
        </div>
        <br />
        <div class="title">Step 3: Perform Pathway Analysis</div>
        <form name="pathway_form" action="/pathway/results" method="POST" enctype="multipart/form-data" target="_blank">
            {% csrf_token %}
            <table class="mui-table">
                <tr class="paragraph">
                    <td>
                        Pathway SBtab <br/>(e.g. <a href="{% static "pathways/example_fermentation_MDF.tsv" %}">MDF</a>,
                        <a href="{% static "pathways/example_central_metabolism_ECM.tsv" %}">ECM</a>)
                    </td>
                    <td>
                        <input type="file" name="pathway_file" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Output
                    </td>
                    <td>
                        <input type="radio" id="mdf" name="html_sbtab_toggle" value="HTML" checked="checked"/>
                        HTML
                        &nbsp;&nbsp;&nbsp;
                        <input type="radio" id="ecm" name="html_sbtab_toggle" value="SBtab"/>
                        <a href="https://sbtab.net/" title="SBtab" target="_blank">SBtab</a>
                    </td>
                </tr>
                <tr align="left">
                    <td></td>
                    <td colspan="2">
                        <input type="submit" class="mui-btn mui-btn--primary" value="Analyze"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    {% include "footer.html" %}
