{% load static %}

<div class="mui-panel">
<div class="title">Reduction Potentials</div>
<table class="mui-table">
    {% if not reaction.is_physiological %}
    <tr>
        <td width="20%">
            <strong>
                Estimated <a href={% static "classic_rxns/faq.html" %}#half-reactions>E'</a>
            </strong>
        </td>
        <td colspan="100%">
            {{ reaction.e_prime|safe }}
        </td>
    </tr>
    {% endif %}

    <tr>
        <td width="20%">
            <strong>
                Estimated <a href={% static "classic_rxns/faq.html" %}#dgm>E'<sup>m</sup></a>
            </strong>
        </td>
        <td colspan="100%">
            {{ reaction.physiological_e_prime|safe }}
        </td>
    </tr>
    <tr>
        <td width="20%">
            <strong>
                Estimated <a href={% static "classic_rxns/faq.html" %}#half-reactions>E'&deg;</a>
            </strong>
        </td>
        <td colspan="100%">
            {{ reaction.standard_e_prime|safe }}
        </td>
    </tr>
    {% include "reaction_sliders.html" %}
</table>
</div>


{% if reaction.half_reaction_dg_prime %}
<div class="mui-panel">
<div class="title">Reaction Gibbs Energy</div>
<table class="mui-table">
    <tr style="border-top: 1px dotted silver;">
        <td><strong>Estimated <a href={% static "classic_rxns/faq.html" %}#drg>&Delta;<sub><i>r</i></sub>G'</strong></a></td>
        <td colspan="100%">
            {{ reaction.half_reaction_dg_prime|safe }}
        </td>
    </tr>

    <tr>
        <td>
            e<sup>-</sup> potential
        </td>
        <td>
            <input type="number" name="e_potential" id="electronPotentialField"
                   size=10 value="{{ reaction.aq_params.e_potential_in_volt|floatformat:3 }}"
                   min="-2" max="2" step="0.001"
            /> V
        </td>
        <td colspan="100%" class="sliderContainer">
            <div id="electronPotentialSlider"></div>
        </td>
    </tr>
</table>
</div>
{% endif %}
