{% load static %}
    {% with largesearch=1 title="eQuilibrator: The Biochemical Thermodynamics Calculator" %}
        {% include "header.html" %}
    {% endwith %}

<div class="mainTitle">
    <img src={% static "images/equilibrator_logo_small.svg" %} height="60"/><br/>
    eQuilibrator
</div>
<div id="exampleText">
    <p id="opentecr_message">
        Want to help improve eQuilibrator?
    </p>
    <p>
        <a id="opentecr_link" href="/static/open_tecr/invitation_to_curate_nistdb.html">openTECR</a>
    </p>
</div>
<br />
<form name="searchForm" class="mui-form--inline" action="/search" method="get">
    <div id="welcomeSearchBar">
        <input type="text" name="query" class="searchHint" id="queryField" placeholder='Type a single compound/enzyme name, or a full reaction (using "=" to separate the two sides)' />
        <input type="image" id="button" class="searchButtonLarge" src="{% static "images/search_icon.svg" %}"/>
    </div>
</form>
<br />
<div id="exampleText">
    <p>
        for example, try this reaction:
        <a href="/search?query=Sucrose+%2B+H2O+%3D+Glucose+%2B+fructose">sucrose + H<sub>2</sub>O &rlhar; glucose + fructose</a> <br />
        or this enzyme: 
        <a href="/search?query=invertase">invertase</a> <br />
        or click below for yet more examples
    </p>
</div>
<div id="showExamples" style="display:block">
    <p>
    <a href="#" title="Show examples" onclick="toggle_visibility('hideExamples');toggle_visibility('showExamples');">
    <img src={% static "images/show_examples.svg" %} height="48" width="48"/></a>
    </p>
</div>

<div id="hideExamples" style="display:none">
    <p>
    <a href="#" title="Hide examples" onclick="toggle_visibility('showExamples');toggle_visibility('hideExamples');">
    <img src={% static "images/hide_examples.svg" %} height="48" width="48"/></a>
    </p>
    <div class="mui-panel">
        <div class="title">Examples</div>
        	<table class="mui-table mui-table--centered">
        		<thead>
            		<tr>
            		    <th>Reactions</th>
            		    <th>Compounds</th>
                      <th>Enzymes</th>
                  </tr>
             </thead>
             <tbody>
                 <tr>
            			<td><a href="/search?query=Glucose+<%3D>+2+Ethanol+%2B+2+CO2&x=0&y=0">glucose &rlhar; 2 ethanol + 2 CO<sub>2</sub></a></td>
            			<td><a href="/search?query=ATP">ATP</a></td>
            			<td><a href="/search?query=rubisco">rubisco</a></td>
                 </tr>
                 <tr>
                      <td><a href="/search?query=O2+%2B+2+NADH+%3D+2+H2O+%2B+2+NAD%2B">O<sub>2</sub> + 2 NADH &rlhar; 2 H<sub>2</sub>O + 2 NAD<sup>+</sup></a></td>
                      <td><a href="/search?query=glucose">glucose</a></td>			
                      <td><a href="/search?query=enolase">enolase</a></td>
                 </tr>
                 <tr>
                      <td><a href="/search?query=ATP+%2B+H2O+%3D+ADP+%2B+Phosphate">ATP + H<sub>2</sub>O &rlhar; ADP + phosphate</a></td>
                      <td><a href="/search?query=succinyl-CoA">succinyl-CoA</a></td>
                      <td><a href="/search?query=hexokinase">hexokinase</a></td>
                 </tr>
                 <tr>
                      <td><a href="/search?query=Oxaloacetate+%3D+L-Malate">oxaloacetate + 2 e<sup>-</sup> &rlhar; L-malate</a></td>
                      <td><a href="/search?query=formaldehyde">formaldehyde</a></td>			
                      <td><a href="/search?query=fumarase">fumarase</a></td>
                 </tr>
             </tbody>
        	</table>
    </div>
</div>

{% include "footer.html" %}

