{% load static %}
{% with hidesearchbar=0 title="Pathway Analysis" %}
    {% include "header.html" %}
{% endwith %}

    {% if error_message %}
        <p>
            <div class="warning">
            {{ error_message }}
            </div>
        </p>
    {% else %}
        {% if pathway %}
            <div class="mui-panel">
                <div class="title">{{ optimization_method }} Analysis Results</div>
                <table class="mui-table">
                    <tr>
                        <td width="20%"><strong>Net Reaction</strong></td>
                        <td>{{ pathway.net_reaction_formula|safe }}</td>
                    </tr>
                    <tr>
                        <td width="20%"><strong>pH</strong></td>
                        <td>{{ pathway.comp_contrib.p_h|safe }}</td>
                    </tr>
                    <tr>
                        <td width="20%"><strong>pMg</strong></td>
                        <td>{{ pathway.comp_contrib.p_mg|safe }}</td>
                    </tr>
                    <tr>
                        <td width="20%"><strong>ionic strength</strong></td>
                        <td>{{ pathway.comp_contrib.ionic_strength|safe }}</td>
                    </tr>
                    <tr>
                    {% if optimization_method == "MDF" %}
                        <td width="20%"><strong><a href={% static "classic_rxns/faq.html" %}#mdf target="_blank">MDF</a></strong></td>
                        <td>{{analysis_results.score|floatformat:2}} kJ/mol</td>
                    {% endif %}
                    {% if optimization_method == "ECM" %}
                        <td width="20%"><strong><a href={% static "classic_rxns/faq.html" %}#ecm target="_blank">Total Cost</a></strong></td>
                        <td>{{analysis_results.score|floatformat:2}}</td>
                    {% endif %}
                    </tr>
                </table>
            </div>
            <div class="mui-panel">
                <div class="title">Reaction Data</div>
                <table class="mui-table mui-table--centered">
                    <thead>
                        <th>Reaction</th>
                        <th>Flux</th>
                        <th>&Delta;<sub><i>r</i></sub>G'&deg;</th>
                        <th><a href={% static "classic_rxns/faq.html" %}#dgm target="_blank">&Delta;<sub><i>r</i></sub>G'<sup>m</sup></a></th>
                        <th>&Delta;<sub><i>r</i></sub>G'</th>
                    </thead>
                    <tbody>
                    {% for row in reaction_table %}
                        <tr>
                            <td>{{row.reaction_id|safe}}</a></td>
                            <td>{{row.flux|safe}}</td>
                            <td>{{row.standard_dg_prime|safe}}</a></td>
                            <td>{{row.physiological_dg_prime|safe}}</a></td>
                            <td>{{row.optimized_dg_prime|safe}}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="mui-panel">
                <div class="title">Compound Data</div>
                <table class="mui-table mui-table--centered">
                <thead>
                    <th>Compound</th>
                    <th>Concentration</th>
                    <th>Min</th>
                    <th>Max</th>
                </thead>
                {% for row in compound_table %}
                    <tr>
                        <td>{{row.compound_id|safe}}</td>
                        <td>{{row.concentration|safe}}</a></td>
                        <td>{{row.lower_bound|safe}}</a></td>
                        <td>{{row.upper_bound|safe}}</a></td>
                    </tr>
                {% endfor %}
                </table>
            </div>

            <div class="mui-panel">
                <div class="title">Result Figures</div>
                <div id="plotPathwayAnalysisResults" align="center">
                    {{ figure_svg|safe }}
                </div>
            </div>
            
        {% endif %}
    </div>
    {% endif %}

{% include "footer.html" %}
