{% load static %}
<div class="mui-panel">
<div class="title">Reaction Gibbs Energy</div>
<table class="mui-table">
    {% if not reaction.is_physiological %}
    <tr>
        <td>
            <strong>
                Estimated <a href={% static "classic_rxns/faq.html" %}#drg>&Delta;<sub><i>r</i></sub>G'</a>
            </strong>
        </td>
        <td colspan="100%">
            {{ reaction.dg_prime|safe }}
        </td>
    </tr>
    {% endif %}

    <tr>
        <td>
            <strong>
                Estimated <a href={% static "classic_rxns/faq.html" %}#dgm>&Delta;<sub><i>r</i></sub>G'<sup>m</sup></a>
            </strong>
        </td>
        <td colspan="100%">
            {{ reaction.physiological_dg_prime|safe }}
        </td>
    </tr>

    <tr>
        <td>
            <strong>
                Estimated <a href={% static "classic_rxns/faq.html" %}#drg>&Delta;<sub><i>r</i></sub>G'&deg;</a>
            </strong>
        </td>
        <td colspan="100%">
            {{ reaction.standard_dg_prime|safe }} &nbsp;&nbsp;&nbsp; K'<sub>eq</sub> = {{ reaction.k_eq_prime|safe }}
        </td>
    </tr>

    {% if reaction.catalyzing_enzymes %}
        <tr>
            <td><strong>Catalyzed by</strong></td>
            <td colspan="100%">
            {% for enzyme in reaction.catalyzing_enzymes|slice:":3" %}
                <div><a href="{{ enzyme.link }}">{{ enzyme.first_name.name }}</a>&nbsp;&nbsp;[EC {{ enzyme.ec }}]</div>
            {% endfor %}
            </td>
        </tr>
    {% endif %}
    {% include "reaction_sliders.html" %}
</table>
</div>