{% with hidesearchbar=0 title="Search Results" %}
    {% include "header.html" %}
{% endwith %}

    {% if compound_results or enzyme_results %}
        {% if enzymes_first %}
            {% if enzyme_results %}
                <div class="searchResults" id="searchResults">
                    <div class="resultTitle">Enzymes</div>
                    {% include "enzyme_search_results.html" %}
                </div>
            {% endif %}
            {% if compound_results %}
                <div class="searchResults" id="searchResults">
                    <div class="resultTitle">Compounds</div>
                    {% include "compound_search_results.html" %}
                </div>
            {% endif %}
        {% else %}
            {% if compound_results %}
                <div class="searchResults" id="searchResults">
                    <div class="resultTitle">Compounds</div>
                    {% include "compound_search_results.html" %}
                </div>
            {% endif %}
            {% if enzyme_results %}
            <div class="searchResults" id="searchResults">
                <div class="resultTitle">Enzymes</div>
                {% include "enzyme_search_results.html" %}
            </div>
            {% endif %}
        {% endif %}
    {% else %}
        <div class="warning">
            No results. <a href="/">Try again?</a>
        </div>
    {% endif %}

{% include "footer.html" %}
    
